body {
  background-color: #000405;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(235, 235, 235);
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}

.title {
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: #4c46ff;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timestamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;

  &__readable {
    margin: 0;
    margin-bottom: 5px;
  }
  &__raw {
    color: #8a8a8a;
    margin: 0;
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #6eb9ff, #4c46ff);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;

  &:hover {
    background: linear-gradient(40deg, #4c46ff, #6eb9ff);
  }
}

.toggleraw {
  border: 0;
  display: block;
  position: relative;
  margin-top: 10px;
  width: 140px;
  height: 30px;
  border-radius: 25px;
  background: linear-gradient(40deg, #6eb9ff, #4c46ff);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: rgb(235, 235, 235);
  transition: transform 0.2s ease-out;

  &:hover {
    background: linear-gradient(40deg, #4c46ff, #6eb9ff);
  }
}

.hide {
  display: none;
}

.error {
  margin-top: 20px;
  color: rgb(161, 0, 0);
}

.filename {
  margin-top: 20px;
  font-weight: 600;
  color: #8a8a8a;
}

.copy {
  border: 0;
  display: block;
  position: relative;
  margin-top: 10px;
  width: 140px;
  height: 30px;
  border-radius: 25px;
  background: linear-gradient(40deg, #494949, #111111);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: rgb(235, 235, 235);
  transition: transform 0.2s ease-out;

  &:hover {
    background: linear-gradient(40deg, #111111, #494949);
  }
}
